// ---------------------------------------------------
//    Colors
// ---------------------------------------------------

$accent: #2fa3f0;
$lightest: #fff;
$ltgray: #cdcdcd;
$dkgray: #464646;
$darkest: #292929;

// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------

$lshadow: 0 2px 3px 0 rgba(0,0,0,.15);;

// ---------------------------------------------------
//    Typography
// ---------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Montserrat:100,400,600,700,900');

$heading: 'Montserrat', sans-serif;
$content: 'Lato', sans-serif;
$fa: 'FontAwesome';

// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------

$ftrans: all 0.15s ease;
$mtrans: all 0.25s ease;
$strans: all 0.5s ease;