// ---------------------------------------------------
//    Colors
// ---------------------------------------------------

$accent:#2bb7ce;
$dkaccent: #06314d;
$lightest: #fff;
$ltgray: #cdcdcd;
$dkgray: #575757;
$darkest: #505050;

// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------

$lshadow: 0 2px 10px 0 rgba(0,0,0,.15);;

// ---------------------------------------------------
//    Typography
// ---------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Raleway:wght@100;400;600&display=swap');

$heading: 'Montserrat', sans-serif;
$content: 'Raleway', sans-serif;
$fa: 'FontAwesome';

// ---------------------------------------------------
//    Border Raduis
// ---------------------------------------------------

$radius: 3px;

// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------

$ftrans: all 0.15s ease;
$mtrans: all 0.25s ease;
$strans: all 0.5s ease;